*.o
*.a
*.dblite
# Matlab ASV autosave files
*.asv
# Pychache files
*.pyc
# Graphical files
*.mpg
*.png
# VScode files
cpp/.vs/*
.*.swp
*.*.gch
*.o
cpp/verify/verify
cpp/verify/verify.db
*.db-journal
